<header class="mx-auto mt-4 mb-4 md:mb-6">
  <div class="flex flex-col items-center gap-2">
    <div
      class="flex items-center gap-3 text-5xl md:text-6xl lg:text-7xl font-bold"
    >
      <img
        src="/favicon.ico"
        alt=""
        class="h-14 w-14 shrink-0 md:h-16 md:w-16 lg:h-[4.5rem] lg:w-[4.5rem] rounded-sm"
        width="72"
        height="72"
      />
      <span>
        <span class="md:hidden">Hot Seat</span>
        <span class="hidden md:inline">Who is on the Hot Seat?</span>
      </span>
    </div>
    <p class="text-center text-base md:text-lg text-white/70">
      A Machine Learning Classification Problem
    </p>
    <p class="flex items-center gap-1.5 text-sm text-white/55">
      <img
        src="/images/misc/pfr.png"
        alt=""
        class="h-4 w-auto opacity-80"
        width="16"
        height="16"
      />
      powered by Pro Football Reference
    </p>
  </div>
</header>
